<!--<head>
  <title>Doctor Review</title>
  <meta charset="utf-8">
  <link href="Review.css" rel="stylesheet" type="text/css">


</head>-->
<template name="PatientReview">
  {{#if currentUser}}
    <form>

    <h1>Patient Review</h1>
            <label>First Name: </label>
            <input type="text" id="Fname" size="30"><br>

            <label>Last Name: </label>
            <input type="text" id="Lname" size="30"><br>



            <br>
            <br>
            <br>

              <h3>Write down your Comment if you have any to enhance your exprience in the future</h3>



              <input type="text" id="CommentField" value=" " size="100" height="50"> <br>
              <br>

              <button onclick="fun1()" >Send</button>
              <br>
              <br>

                <input type="radio" name="rate" id="rad1" value="Amazing ">Amazing
                <input type="radio" name="rate" id="rad2" value="Very Good">Very Good
                <input type="radio" name="rate" id="rad3" checked="checked" value="Good" >Good
                <input type="radio" name="rate" id="rad4" value="Not Bad">Not Bad
                <input type="radio" name="rate" id="rad5" value="Bad">Bad


              <script>
              function fun1()
                {
                  var x = document.getElementById("CommentField").value;
                  document.getElementById("InTheBox").innerHTML = x;

                  var fname = document.getElementById("Fname").value;
                  document.getElementById("b").innerHTML = fname;

                  var lname = document.getElementById("Lname").value;
                  document.getElementById("c").innerHTML=lname;

                  console.log(Fname.value);

                  if(document.getElementById("rad1").checked)
                  {
                      var val = document.getElementById("rad1").value;
                  }

                  else if(document.getElementById("rad2").checked)
                  {
                      var val = document.getElementById("rad2").value;
                  }

                  else if(document.getElementById("rad3").checked)
                  {
                      var val = document.getElementById("rad3").value;
                  }

                  else if(document.getElementById("rad4").checked)
                  {
                      var val = document.getElementById("rad4").value;
                  }

                  else if(document.getElementById("rad5").checked)
                  {
                      var val = document.getElementById("rad5").value;
                  }





                }
              </script>
  </form>
  {{/if}}
</template>
